.App {
  padding: 16px;
}

.App .meu-app {
  color: #0000ff;
}
.busca {
 float: right;
}
.titulo-torneio {
  text-align: center;
}
.pokemon-logo {
	width: 15%;
	margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  justify-content: center;
}
.Footer {
  background-color: #7e7e83;
}
img {
  width: 300px;
  height: 300px;
}
